/* GothamPro */
@font-face {
    font-family: 'GothamPro Light';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Light Italic';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro Regular';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Italic';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro Medium';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Medium Italic';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro Bold';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Bold Italic';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro Black';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Black Italic';
    src: url('https://raw.githubusercontent.com/user123123333333/fonts/refs/heads/main/gothampro_blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


/* SFPro */
@font-face {
    font-family: SFRounded;
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/SFPro/SFRounded-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SF Pro Display;
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/SFPro/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: SF Pro Display;
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/SFPro/SFProDisplay-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: SF Pro Display;
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/SFPro/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Figerona-VF";
    src: url('https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/FigeronaVF/Figerona-VF.ttf') format("truetype");
}

@font-face {
    font-family: "Orbitron Black";
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/Orbitron/orbitron-black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SA Fonts";
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/SAFonts/SAfonts-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BankGothic";
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/BankGothic/BankGothicRUSSMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PricedownRus";
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/Pricedown/PricedownRus.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 400;
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/Akrobat/Akrobat-Regular.otf") format('opentype')
}

@font-face {
    font-family: 'PF Din Display';
    font-style: normal;
    font-weight: 400;
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/PF Din Display/PFDinDisplayPro-Regular.ttf") format('truetype')
}


/* Bahnschrift */
@font-face {
    font-family: 'Bahnschrift';
    src: url("https://raw.githubusercontent.com/aIcantara/fonts/refs/heads/main/Bahnschrift/Bahnschrift.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
